language: go

go:
- 1.8.3  
- 1.8.7
- 1.9.6
- tip # The latest version of Go

script: 
- go test -v . -coverprofile=coverage.txt -covermode=atomic # ./... includes the vendor folder.

after_success:
  - bash <(curl -s https://codecov.io/bash)